<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.iocoder.yudao.framework.common.mapper.AisleIndexMapper">

    <!--
        一般情况下，尽可能使用 Mapper 进行 CRUD 增删改查即可。
        无法满足的场景，例如说多表关联查询，才使用 XML 编写 SQL。
        代码生成器暂时只生成 Mapper XML 文件本身，更多推荐 MybatisX 快速开发插件来生成查询。
        文档可见：https://www.iocoder.cn/MyBatis/x-plugins/
     -->
     <select id="selectAisleIndexByCfgList">
         select  ai.aisle_name,ai.id,ai.aisle_length,ai.pdu_bar,ac.ele_alarm_day,ac.ele_alarm_month
                ,ac.ele_limit_day,ac.ele_limit_month,ai.direction,ai.x_coordinate
               ,ai.y_coordinate,ac.power_capacity
         from
         aisle_index ai left join  aisle_cfg ac on ai.id = ac.aisle_id  where  ai.room_id =#{roomId} and  ai.is_delete = '0'
     </select>
    <select id="selectRoomAisleList" resultType="cn.iocoder.yudao.framework.common.dto.room.AisleDataDTO">
        SELECT
        ai.id as id,
        ai.room_id as roomId,
        ai.aisle_name as aisleName,
        ai.aisle_length as length,
        ai.x_coordinate as xCoordinate,
        ai.y_coordinate as yCoordinate,
        ai.pdu_bar as pduBar,
        ai.direction as direction,
        ac.aisle_type as type,
        ac.power_capacity as powerCapacity,
        ac.ele_alarm_day as eleAlarmDay,
        ac.ele_alarm_month as eleAlarmMonth,
        ac.ele_limit_day as eleLimitDay,
        ac.ele_limit_month as eleLimitMonth
        FROM
        aisle_index ai
        LEFT JOIN aisle_cfg ac ON ai.id = ac.aisle_id
        WHERE
        ai.room_id = #{id} and  ai.is_delete = '0'
    </select>

</mapper>