<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.iocoder.yudao.module.aisle.dal.mysql.aisleindex.AisleIndexCopyMapper">

    <!--
        一般情况下，尽可能使用 Mapper 进行 CRUD 增删改查即可。
        无法满足的场景，例如说多表关联查询，才使用 XML 编写 SQL。
        代码生成器暂时只生成 Mapper XML 文件本身，更多推荐 MybatisX 快速开发插件来生成查询。
        文档可见：https://www.iocoder.cn/MyBatis/x-plugins/
     -->

    <select id="selectDelPageQuery"
            resultType="cn.iocoder.yudao.module.aisle.controller.admin.aisleindex.vo.AisleIndexDelResVO">

            SELECT ai.id ,ai.aisle_name ,ri.room_name,ai.update_time
        from aisle_index ai
            left join room_index ri on ai.room_id = ri.id
            <where>
                ai.is_delete = 1
                <if test="pageReqVO.name != null and pageReqVO.name != ''">
                    AND ai.aisle_name LIKE CONCAT('%', #{pageReqVO.name}, '%')
                </if>
                order by ai.update_time desc
            </where>
        </select>
    <select id="selectxOrY" resultType="java.lang.Integer">
        SELECT
        count(id)
        FROM
        `aisle_index`
        WHERE
        room_id = #{roomId}
        AND (
        y_coordinate = #{yCoordinate}
        AND #{xCoordinate} BETWEEN x_coordinate
        AND ( x_coordinate + aisle_length ))
        OR ( x_coordinate = #{xCoordinate}
        AND #{yCoordinate} BETWEEN y_coordinate
        AND ( y_coordinate + aisle_length ))
    </select>
</mapper>