<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.iocoder.yudao.framework.common.mapper.CabinetPduMapper">
    <insert id="insertBatch">
        INSERT INTO cabinet_pdu (cabinet_id, pdu_key_a ,pdu_key_b)
        VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.cabinetId}, #{item.pduKeyA}, #{item.pduKeyB})
        </foreach>
    </insert>

    <!--                <if test="item.pduKeyA != null">
                    pdu_key_a = #{item.pduKeyA},
                </if>
                <if test="item.pduKeyB != null">
                    pdu_key_b = #{item.pduKeyB},
                </if>-->

    <update id="updateBatch">
        <foreach collection="list" item="item" index="index" separator=";">
            UPDATE cabinet_pdu
              set  pdu_key_a = #{item.pduKeyA},pdu_key_b = #{item.pduKeyB}
            where id = #{item.id}
        </foreach>
    </update>
    <select id="pduCountQuery" resultType="java.lang.Integer">
        SELECT COUNT(id) FROM cabinet_pdu WHERE (((pdu_key_a = #{pduKey}) OR (pdu_key_b = #{pduKey})))
    </select>
</mapper>