<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.iocoder.yudao.framework.common.mapper.CabinetCfgMapper">

    <!--
        一般情况下，尽可能使用 Mapper 进行 CRUD 增删改查即可。
        无法满足的场景，例如说多表关联查询，才使用 XML 编写 SQL。
        代码生成器暂时只生成 Mapper XML 文件本身，更多推荐 MybatisX 快速开发插件来生成查询。
        文档可见：https://www.iocoder.cn/MyBatis/x-plugins/
     -->

    <select id="selectCabList" parameterType="cn.iocoder.yudao.framework.common.dto.cabinet.CabinetIndexVo"
            resultType="cn.iocoder.yudao.framework.common.dto.cabinet.CabinetIndexDTO">

        select
        ci.id ,
        ci.room_id as roomId,
        ci.name ,
        ci.aisle_id as aisleId,
        ci.pow_capacity as powCapacity,
        ci.pdu_box as pduBox,
        ci.run_status as runStatus,
        ci.load_status as loadStatus,
        ci.update_time as updateTime,
        ci.create_time as createTime,
        cf.cabinet_height as cabinetHeight,
        cf.x_coordinate as xCoordinate,
        cf.y_coordinate as yCoordinate,
        cf.company
        from cabinet_index ci
        left join cabinet_cfg cf on ci.id = cf.cabinet_id
        where CI.is_disabled = 0 and CI.is_deleted = 0
        <if test=" indexVo.pduBox != null ">
            and ci.pdu_box = #{indexVo.pduBox}
        </if>
        <if test=" indexVo.runStatus != null and indexVo.runStatus.size > 0">
            and ci.run_status in
            <foreach collection="indexVo.runStatus" item="item" index="index" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>
        <if test=" indexVo.loadStatus != null and indexVo.loadStatus.size > 0">
            and ci.load_status in
            <foreach collection="indexVo.loadStatus" item="item" index="index" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>
        <if test=" indexVo.cabinetIds != null and indexVo.cabinetIds.size > 0">
            and ci.id in
            <foreach collection="indexVo.cabinetIds" item="item" index="index" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>
        <if test=" indexVo.roomId != null ">
            and ci.roomId = #{indexVo.roomId}
        </if>
        <if test=" indexVo.company != null and indexVo.company != ''">
            and CF.company like "%"#{indexVo.company}"%"
        </if>

    </select>

    <select id="selectRunStatus" resultType="cn.iocoder.yudao.framework.common.dto.cabinet.CabinetIndexDTO">
        select
        ci.id ,
        ci.room_id as roomId
        from cabinet_index ci
        where CI.is_disabled = 0 and CI.is_deleted = 0
    </select>

    <!-- 获得已删除机柜分页 -->
    <select id="selectCabdeleteList" parameterType="cn.iocoder.yudao.framework.common.dto.cabinet.CabinetIndexVo"
            resultType="cn.iocoder.yudao.framework.common.dto.cabinet.CabinetIndexDTO">
        select
        ci.id,
        ci.cabinet_name ,
        ci.pdu_box as pduBox,
        ci.run_status as runStatus,
        ci.update_time as updateTime
        from cabinet_index ci
        where ci.is_disabled = 0 and ci.is_deleted = 1
        ORDER BY  update_time desc
    </select>

    <!-- 设备恢复 -->
    <update id="updaterestorerCabinet">
        update cabinet_index set  is_deleted = '0'  where id=#{id}
    </update>


    <update id="updateByCabinetCfg">
        update cabinet_cfg cg set cg.x_coordinate = #{vo.xCoordinate},cg.y_coordinate = #{vo.yCoordinate},cg.ele_alarm_day = #{vo.eleAlarmDay}, cg.ele_limit_day = #{vo.eleLimitDay}, cg.ele_alarm_month = #{vo.eleAlarmMonth}, cg.ele_limit_month = #{vo.eleLimitMonth}
        where  cg.cabinet_id = #{vo.id}
    </update>


</mapper>