<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.iocoder.yudao.module.bus.dal.mysql.boxindex.BoxIndexCopyMapper">

    <!--
        一般情况下，尽可能使用 Mapper 进行 CRUD 增删改查即可。
        无法满足的场景，例如说多表关联查询，才使用 XML 编写 SQL。
        代码生成器暂时只生成 Mapper XML 文件本身，更多推荐 MybatisX 快速开发插件来生成查询。
        文档可见：https://www.iocoder.cn/MyBatis/x-plugins/
     -->

    <select id="getBoxIndexStatistics"
            resultType="cn.iocoder.yudao.module.bus.controller.admin.busindex.vo.BusIndexStatisticsResVO">
        SELECT count(1) as total,
        sum(case when bi.run_status = 1 then 1 else 0 end) as normal,
        sum(case when bi.run_status = 2 then 1 else 0 end) as alarm,
        sum(case when bi.run_status = 0 then 1 else 0 end) as offline
        FROM box_index bi
        <where>
            is_deleted = 0
        </where>
    </select>
</mapper>